# Default ignored files
/.idea/workspace.xml

*.iml
.idea
target
release.properties
pom.xml.releaseBackup
/src/test/java/com/freya02/botcommands/oldtests
/src/test/kotlin/com/freya02/botcommands/oldtests
/src/test/resources/com/freya02/botcommands/oldtests
/src/test/resources/com/freya02/botcommands/test/Config.json

logs
TestDB

schemas/Test.json
/schemas
/src/test/resources/logback-test.xml