# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# Base file from: https://github.com/discord-jda/JDA-Website/blob/8a3a36f0f95e29f14f0e04a75c219c4e4352ecf7/mkdocs.yml
theme:
  features:
    - navigation.indexes
    - navigation.instant # Faster loading
    - navigation.tabs # Top level horizontal tabs
    - toc.integrate # Integrated Table Of Contents (shows #, ##... sections)
    - content.code.annotate # Annotations on lines of codeicon:
    - content.code.copy
    - content.action.edit
    - content.tabs.link
  name: material
  logo: assets/logo-transparent.svg
  favicon: assets/logo-round.svg
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - mike

site_name: BotCommands Wiki
site_url: 'https://freya022.github.io/BotCommands'

repo_name: BotCommands
repo_url: https://github.com/freya022/BotCommands/tree/3.X
edit_uri: ../../edit/3.X/wiki/docs # This URI is relative to repo_url
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/freya022/BotCommands/tree/3.X
    - icon: fontawesome/solid/book
      link: https://github.com/freya022/BotCommands/tree/3.X/wiki
    - icon: fontawesome/brands/discord
      link: https://discord.gg/frpCcQfvTz

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  - footnotes
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets:
      base_path:
       - "../examples/src/main/java/io/github/freya022"
       - "../examples/src/main/kotlin/io/github/freya022"
       - "../examples/src/main/resources"
       - "."
       - ".."
      url_download: true
      check_paths: true
  - toc:
      permalink: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Setup:
      - Getting started: setup/getting-started.md
      - Logging: setup/logging.md
  - Using BotCommands:
      - Dependency injection:
        - using-botcommands/dependency-injection/index.md
        - Creating services: using-botcommands/dependency-injection/creating-services.md
        - Retrieving services: using-botcommands/dependency-injection/retrieving-services.md
      - Database: using-botcommands/database.md
#      - Rate limiting: foo
#      - Localization: foo
  - Using commands:
      - Common details: using-commands/common-command-details.md
#      - Interaction filters: foo
#      - Cooldowns: foo
#      - Inferred option names: foo
#      - Text commands:
#        - Creating text commands: foo
#        - Built-in help command: foo
      - Slash commands:
        - Creating slash commands: using-commands/application-commands/writing-slash-commands.md
#  - Using components: foo
#  - Using modals: foo
#  - Docs: docs #TODO enable with KDocs once published