# Default ignored files
/.idea/workspace.xml

*.iml
.idea
target
/src/test

#Ignore tests log files
logs-*

# Ignore the bot's token, you don't want it to figure in your repository
/src/main/resources/com/freya02/bot/Config.json