# https://theoverengineered.blog/posts/publishing-my-first-artifact-to-maven-central-using-github-actions
# https://maven.apache.org/maven-release/maven-release-plugin/examples/non-interactive-release.html
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
# https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-Apache-Maven

name: Publish to Maven Central
on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.event.release.draft == false
    steps:
      - uses: actions/checkout@v3
      - name: Configure Git User
        run: |
          git config user.email "41875020+freya022@users.noreply.github.com"
          git config user.name "freya022"
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Set release version
        run: mvn -B --file pom.xml BotCommandsBuild:set-ci-version
      - name: Compile and release
        run: >
          mvn -B --file pom.xml
          -P check-docs,docs,release 
          deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
