# https://theoverengineered.blog/posts/publishing-my-first-artifact-to-maven-central-using-github-actions
# https://maven.apache.org/maven-release/maven-release-plugin/examples/non-interactive-release.html
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
# https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-Apache-Maven

# TODO: In 3.0, use the `deploy` goal instead, and configure the build plugin to append `_DEV` on non-release builds
#       This will allow deploying without inputs, when a release is created

name: Publish to Maven Central
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: The version that is about to be released
        required: true
        type: string
      next_development_version:
        description: The dev version used after this release, without -SNAPSHOT
        required: true
        type: string
        
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure Git User
        run: |
          git config user.email "41875020+freya022@users.noreply.github.com"
          git config user.name "freya022"
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Compile and release
        run: >
          mvn -B --file pom.xml
          -P check-docs,release 
          -Dtag=v${{ inputs.release_version }}
          -DreleaseVersion=${{ inputs.release_version }}
          -DdevelopmentVersion=${{ inputs.next_development_version }}-SNAPSHOT
          release:prepare release:perform
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
